.root {
    -fx-background-color: #505150;
}


.tab, .tab-label {
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.tab-content-area {
    -fx-background-color: #505150;
    -fx-padding: 0.0em;

}

.tab-pane, *.tab-header-background
{
    -fx-background-color: #505150;
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab:top {
    -fx-background-color: #505150;
}

.tab:selected {
    -fx-background-color: royalblue;
}

.tab:bottom {
    -fx-background-color: #505150;
}

.list-view: {
    -fx-background-color: #505150;
}

.list-cell {
    -fx-background-color: #505150;
    -fx-font-family: Arial;
    -fx-text-fill: white;
}

.list-cell:selected {
    -fx-background-color: royalblue;
}

#tagTextId {
    -fx-background-color: royalblue;
    -fx-text-fill: purple;
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
}

#motherTagFieldId {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
}

#fatherTagFieldId {
     -fx-background-color: royalblue;
     -fx-text-fill: white;
     -fx-font-weight: bold;
     -fx-font-size: 13pt;
}

#genotypeFieldId {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
}

#strainFieldId {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
}

#coatColorFieldId {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
}

#cageNumberFieldId {
     -fx-background-color: royalblue;
     -fx-text-fill: white;
     -fx-font-weight: bold;
     -fx-font-size: 13pt;
}

#notesFieldId {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
}

#dobPickerId {
 -fx-background-color: royalblue;
 -fx-text-fill: white;
 -fx-font-weight: bold;
 -fx-font-size: 13pt;
}

#weanDatePickerId {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
}

#genderComboBoxId {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-size: 13pt;
}

#statusComboBoxId {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-size: 13pt;
}

.label {
    -fx-background-color: #505150;
    -fx-font-size: 12pt;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.5) , 0,0,0,1);
}

.button {
       -fx-background-color: #326267;
       -fx-text-fill: white;
       -fx-font-weight: bold;
       -fx-font-size: 12pt;
       -fx-border-radius: 15;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#selectedUpdateIconText {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15pt;
}

#tagNumberUpdateTextField {
    -fx-background-color: crimson;
    -fx-text-fill: white;
    -fx-font-size: 13pt;
}

#cageNumberUpdateTextField, #statusUpdateComboBox, #notesUpdateTextField {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-size: 13pt;
}



