.root {
    -fx-background-color: #505150;
}


.menu-bar {
    -fx-background-color: #505150;
}

.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: royalblue;
}


.menu-item {
    -fx-background-color: #505150;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-border-radius: 5;
}

.menu-item:focused {
    -fx-background-color: royalblue;
}

#searchField {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
}

.context-menu {
    -fx-background-color: #505150;
}

.tab-pane .tab-header-area .tab-header-background {
  -fx-background-color:#505150;
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:50px;
  -fx-tab-max-height:50px;

  -fx-text-box-border: purple;

}

#searchLabel {
    -fx-background-color: #505150;
    -fx-font-size: 13pt;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.5) , 0,0,0,1);
}

.label {
    -fx-background-color: #505150;
    -fx-font-size: 12pt;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.5) , 0,0,0,1);
}

.button {
       -fx-background-color: #326267;
       -fx-text-fill: white;
       -fx-font-weight: bold;
       -fx-font-size: 12pt;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#mouseSelected {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15pt;
}

#textIDSelectedMouseTagNumber {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseMotherTagNumber {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseFatherTagNumber {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseGenotype {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseBirthDate {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseGender {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseStrain {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseCoatColor {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseWeanDate {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseCageNumber {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseStatus {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSelectedMouseNotes {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#cageSelected {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15pt;
}

#TextIDCageNumber {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDStrain {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDStatus {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDSize {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}

#textIDNotes {
    -fx-font-smoothing-type: lcd;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 15px;
}


#processText {
    -fx-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}


.table-view {
    -fx-background-color: #505150;
}

.table-row-cell{
    -fx-cell-size: 30px;
    -fx-font-size: 15px;
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}


.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view {
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}




